.movie__overview{
  line-height: 1.4;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  text-align: justify;
}

.ant-modal{
  width: 80% !important;
  margin: -80px auto;
  min-width: 350px;
}

.movie__meta p {
  font-size: 1em;
  font-weight: 600;
  margin: 5px 0;
}

.ant-card-cover img {
    max-height: 400px;
    min-height: 400px;
}

@keyframes spin { 100% { transform:rotate(360deg); } }